header {
    position: relative;
    display: grid;
    grid-template-rows: repeat(5, 50px);
    grid-template-columns: repeat(25, 50px);
    grid-template-areas:
            '. . . avatar-1 . . . z-1 z-1 z-1 z-1 z-1 . s-1 s-1 s-1 s-1 s-1 . x-5 . . . x-1 .'
            '. avatar-2 avatar-2 avatar-2 avatar-2 avatar-2 . . . . z-2 . . . . . . s-2 . . x-4 . x-2 . .'
            '. avatar-3 . . . avatar-4 . . . z-3 . . . s-3 s-3 s-3 s-3 s-3 . . . x-3 . . .'
            '. . . avatar-5 . . . . z-4 . . . . s-4 . . . . . . x-8 . x-6 . .'
            '. . avatar-6 . avatar-7 . . z-5 z-5 z-5 z-5 z-5 . s-5 s-5 s-5 s-5 s-5 . x-9 . . . x-7 .';
    margin: 15px 0;
    padding: 15px;
    width: 1280px;
    height: 280px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--block-color);
}

.avatar-1{
    grid-area: avatar-1;
    background-color: #d9cb6c;
}

.avatar-2{
    grid-area: avatar-2;
    background-color: #d9cb6c;
}

.avatar-3{
    grid-area: avatar-3;
    background-color: #d9cb6c;
}

.avatar-4{
    grid-area: avatar-4;
    background-color: #d9cb6c;
}

.avatar-5{
    grid-area: avatar-5;
    background-color: #d9cb6c;
}

.avatar-6{
    grid-area: avatar-6;
    background-color: #d9cb6c;
}

.avatar-7{
    grid-area: avatar-7;
    background-color: #d9cb6c;
}

.z-1{
    grid-area: z-1;
    background-color: var(--z-color);
}

.z-2{
    grid-area: z-2;
    background-color: var(--z-color);
}

.z-3{
    grid-area: z-3;
    background-color: var(--z-color);
}

.z-4{
    grid-area: z-4;
    background-color: var(--z-color);
}

.z-5{
    grid-area: z-5;
    background-color: var(--z-color);
}

.s-1{
    grid-area: s-1;
    background-color: var(--s-color);
}

.s-2{
    grid-area: s-2;
    background-color: var(--s-color);
}

.s-3{
    grid-area: s-3;
    background-color: var(--s-color);
}

.s-4{
    grid-area: s-4;
    background-color: var(--s-color);
}

.s-5{
    grid-area: s-5;
    background-color: var(--s-color);
}

.x-1 {
    grid-area: x-1;
    background-color: var(--x-color);
}

.x-2 {
    grid-area: x-2;
    background-color: var(--x-color);
}

.x-3 {
    grid-area: x-3;
    background-color: var(--x-color);
}

.x-4 {
    grid-area: x-4;
    background-color: var(--x-color);
}

.x-5 {
    grid-area: x-5;
    background-color: var(--x-color);
}

.x-6 {
    grid-area: x-6;
    background-color: var(--x-color);
}

.x-7 {
    grid-area: x-7;
    background-color: var(--x-color);
}

.x-8 {
    grid-area: x-8;
    background-color: var(--x-color);
}

.x-9 {
    grid-area: x-9;
    background-color: var(--x-color);
}
