* {
    margin: 0;
    padding: 0;
    transition: all .3s;
}

.light {
    --bg-color: #f2f2f2;
    --block-color: #fafafa;
    --text-color: #212121;
}

.dark {
    --bg-color: #0a0a0a;
    --block-color: #262827;
    --text-color: #f9f9f9;
}

#app-box {
    position: relative;
    overflow: auto;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-color);
}

.theme-box {
    position: absolute;
    top: 28vh;
    right: 3vw;
    width: 50px;
    height: 50px;
    background-color: var(--block-color);
}

.theme-img{
    width: 32px;
    object-fit: cover;
}

.block-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 1280px;
}

.block-item {
    margin: 15px 0;
    padding: 15px;
    width: 625px;
    height: 420px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: var(--block-color);
}
